@using Kentico.Kontent.Boilerplate.Helpers.Extensions
@model Article

@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <h4>@Model.Title</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        @Html.AssetImage(@Model.TeaserImage.First(), title: @Model.TeaserImage.First().Name, cssClass: "img-responsive", sizes: new ResponsiveImageSizes(300)
            .WithMediaCondition(new MediaCondition { MinWidth = 769, ImageWidth = 300 })
            .WithMediaCondition(new MediaCondition { MinWidth = 330, MaxWidth = 768, ImageWidth = 689 }))
    </div>
    <div class="col-sm-8">
        @Model.Summary
        <p><a class="btn btn-sm btn-primary" href="#" role="button">Read more</a></p>
    </div>
</div>